@import "tailwindcss";
@keyframes floatImage {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-18px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: floatImage 4s ease-in-out infinite;
}